/* Style sheet for bahrain.html */

body {
  font-family: "Calvert", "Acumin", sans-serif;
  font-size: 16px;
  color: #A39B99;
  max-width: 960px;
  background-color: #C9C9C9;
}

section {
  background-color: #eee;
  padding: 20px;
}

header {
  color: rgb(0,102,204);
  grid-area: header;
}

nav {
  padding-left: 0;
  list-style-type: none;
  background-color: #F1CFCF;
  grid-area: nav;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  background-color: #ccc;
  border: 3px solid #000000;
  padding: 5px;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  display: grid;
}

h1 {
  font-size: 60px;
}

h2 {
  color: rgba(0,102,204,0.5);
}

p, td, tr {
  color: rgb(0,102,204);
}

.highlight {
  background-color: #F1CFCF;
}

.firstsummary {
  font-weight: bold;
  font-style: italic;
}

a {
  color: #CCE5FF;
}

a:link {
  color: #0036FF;
}

a:visited {
  color: #0062F5;
}

a:hover {
  color: #29F500;
  text-decoration: none;
}

a:active {
  color: #F50000;
}

nav a {
  display: inline-block;
  background-color: #eee;
  padding: 8px;
  border-bottom: 3px;
}

nav a:hover { /*on state*/
  background-color: #9C0909;
  color: #F98C10;
  border-bottom: 3px;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-areas:
  "header"
  "nav"
  "content"
  "footer"
}

/* .geography {

}

.government {

} */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-area: content;
}

footer p {
  color: #5C5C5C;
}

footer {
  grid-area: footer;
}

img {
  width: 300px;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
