/* personal portfolio*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

#main {
  background-color: #ffe6f9;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 18px;
}

nav {
  position: relative;
  padding-left: 0;
  list-style-type: none;
  grid-area: nav;
  left: 0;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
}

a:active {
  color: #004B9B;
}

a:hover {
  border-bottom: 2px solid #000000;
}

nav a {
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 15px;
  white-space: nowrap;
  margin-right: 15px;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
}

nav a {
  text-align: center;
  color: #505050;
}

img {
  width: 500px;
  height: auto;
  position: fixed;
  right: 0;
  top: 209px;
}

h1 {
  position: relative;
  text-align: center;
  font-size: 40px;
  background-color: #FFFFFF;
  font-family: "Sofia", sans-serif;
  margin-bottom: 10px;
  padding-top: 15px;
}

h2 {
  position: absolute;
  text-align: center;
  font-size: 80px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding-top: 15px;
  left: 100px;
  top: 200px;
  width: 50%;
}

h3 {
  position: fixed;
  text-align: left;
  font-size: 80px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding-top: 15px;
  left: 520px;
  top: 0px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 13px;
  background-color: #FFFFFF;
  width: 100%;
  padding: 0;
}

#top {
    background-color: #FFFFFF;
    margin-top: 0;
    padding-top: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-area: content;
  margin-top: 205px;
}

article {
  position: relative;
  left: 250px;
  width: 960px;
  margin: 0 auto;
  bottom: 90px;
  text-decoration: none;
}

.aboutme {
  position: fixed;
  left: 100px;
  width: 50%;
}

footer {
   position: fixed;
   text-align: center;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   color: #ffe6f9;
}
